<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.loverecycle">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name="com.example.loverecycle.MyApp"
        android:allowBackup="true"
        tools:replace="android:icon, android:theme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">

        <activity android:name="com.example.loverecycle.ui.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
            android:name="com.example.loverecycle.ui.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <!-- 登录界面 -->
        <activity
            android:name="com.example.loverecycle.ui.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <!-- 具体活动界面 -->
        <activity
            android:name="com.example.loverecycle.ui.ActivityItemActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.loverecycle.ui.MainActivity" />
        </activity>
    </application>

</manifest>